<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sssta.sevenor">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".activity.ImageReadActivity"
            android:label="@string/title_activity_image_read"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ArticleReadActivity"
            android:label="@string/title_activity_article_read"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity.UserCenterActivity"
            android:label="@string/title_activity_user_center"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/UserCenterTheme">

        </activity>
        <activity
            android:name=".activity.PersonMeetingActivity"
            android:label="@string/title_activity_person_meeting"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/UserCenterTheme">

        </activity>

    </application>

</manifest>
